@mixin box-shadow($variant: sm, $reverse: false) {
    /*
     * Creates a box shadow either small (standard),
     * medium (md) or large (lg). Passing true along
     * with the size will cause shadow going upwards
     * instead of downwards.
     * */

    $shadowHOffset: 0;
    $shadowVOffset: 1px;
    $shadowBlur: 3px;
    $shadowSpread: 0;

    @if $variant == md {
        $shadowVOffset: 3px;
        $shadowBlur: 6px;

    } @else if $variant == lg {
        $shadowVOffset: 3px;
        $shadowBlur: 8px;
        $shadowSpread: 1px;
    }

    @if $reverse {
        $shadowVOffset: $shadowVOffset * -1;
    }

    box-shadow: $shadowHOffset $shadowVOffset $shadowBlur $shadowSpread rgba(0, 0, 0, 0.16),
                $shadowHOffset $shadowVOffset $shadowBlur $shadowSpread rgba(0, 0, 0, 0.23);
}
