// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom styles
@import 'layouts/header';
@import 'layouts/footer';
