.btn {

    @extend .btn;
    
    box-shadow: $btn-box-shadow;
    background-color: $dark-green !important;

}

.btn:focus {

    @include form-content-focus;

}

.btn:hover {

    background-color: $dark-green-light !important;
    color: $white;

}
