@import 'variables';
@import 'mixins';

.navbar {
    width: 100%;
    height: auto;
    padding: 1rem;
    position: static;
    opacity: 0;
    display: flex;
    @include box-shadow(md);
    transition: all 0.2s ease;

    &__sticky {
        opacity: 1;
    }

    &__title {
        text-align: center;
        color: $primary;
        font-size: 2rem;
    }

    &__user-section {
        float: right;

        a {
            text-decoration: none;
        }

    }

    &__logout {
        color: $light;
    }


}
